@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0;
}

.text-gray {

    color: #727272;
}

.btn-primary {
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.section-title {
    font-size: 2.8rem;
}

/* header styes */
header {
    background: #fff4e6;
    padding: 0px 240px;
}


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav li {
    margin-right: 10px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
}


/* banner styles */
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4em;
}



.banner img {
    margin-top: 10px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 25px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-text {
    color: #FF900E;
}

/* feature styles */
.feature {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.card {
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 20px;
}

.feature-img img {
    margin-left: 90px;
}

.experience-badge {
    width: 342px;
    position: relative;
    bottom: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
}

.experience-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.experience-badge p {
    font-size: 1.5rem;
}

/* media queries */
/* mobile devices */
@media only screen and (max-width: 576px) {

    header {
        padding: 0px 10px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }

    .teams-container {
        padding: 10px;
        text-align: center;

    }

    .feature-image img {
        margin-left: 0;
        width: 100%;
    }


    .ten-years-badge {
        /* display: none; */
        width: 100vw;
        position: static;
        padding: 40px 0;

    }

}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 960px) {

    header {
        padding: 0px 10px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    .teams-container {
        padding: 10px;
        text-align: center;

    }

    .teams-img-container img {
        width: 100%;
    }

    .feature-image img {
        margin-left: 0;
        width: 100%;
    }
}