@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0;
}

.text-gray {

    color: #727272;
}

.btn-primary {
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styes */
header {
    background: #fff4e6;
    padding: 0px 240px;
}


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav li {
    margin-right: 10px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
}


/* banner styles */
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4em;
}



.banner img {
    margin-top: 10px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 25px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}



.teams-title {
    font-size: 2.8rem;
}

.feature-text {
    color: #FF900E;
}

/* media queries */
/* mobile devices */
@media only screen and (max-width: 576px) {

    header {
        padding: 0px 10px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }

    .teams-container {
        flex-direction: column;
        padding: 10px;
        text-align: center;

    }

}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 960px) {

    header {
        padding: 0px 10px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
        padding: 10px;
        text-align: center;

    }

    .teams-img-container img {
        width: 100%;
    }

}